/* General styling */
body {
	margin: 0;
    padding: 0;
    font-family: "Google Sans";
}
a:hover {
    text-decoration: none;
}
/* Toast */
.alert {
	position: fixed;
	padding: 20px 30px;
	top: 20px;
	margin-left: 20px;
	text-align: center;
    box-shadow: 5px 5px 30px #8a8a8a;
    color: #fff;
    background-color: #007bff;
	transform: translateY(-150px);
    transition: all 300ms ease;
    border-radius: 7px;
    z-index: 99;
}
/* Navbar */
.menu {
    position: sticky;
    top: 0;
    padding: 0 5vw;
    height: 59.5px;
    width: 100%;
    background-color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    z-index: 9;
    transition: all 200ms ease;
}
.menu .btn {
    float: right;
}
.link-wrapper {
    float: right;
}
.link-wrapper a, .brand {
    float: left;
    color: #000;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}
.brand {
    font-weight: 500;
}
.brand:hover {
    color: #000;
}
.link-wrapper a:hover {
    color: #007bff;
    text-shadow: 0 0 10px #74b7ff;
}
.link-wrapper a.current {
	color: #007bff;
    font-weight: 500;
    border-bottom: 2px solid #007bff;
}
.menu .menu-toggle {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5vw;
    top: 15px;
}
.menu-toggle .bar {
    display: block;
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background-color: #000;
    margin: 5px auto;
    transition: all 300ms ease;
}
.menu-toggle.toggled .bar:nth-child(1) {
	-webkit-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	-o-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}
.menu-toggle.toggled .bar:nth-child(2) {
	width: 0;
}
.menu-toggle.toggled .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	-o-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}
/* Footer */
.footer {
    padding: 7px 5vw;
    color: #fff;
    font-family: 'Segoe UI';
    background-color: #007bff;
}
/* Form input styling */
input {
    margin-top: 30px;
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	border-bottom: 2px #007bff solid !important;
}
.label {
	display: block;
	position: absolute;
	color: grey;
	transform: translate(10px, -58px);
	transition: all 200ms ease;
	cursor: text;
}
input:focus + .label {
	transform: translate(10px, -80px);
}
input:not(:placeholder-shown) + .label {
	transform: translate(10px, -80px);
}
/* Responsive */
@media only screen and (max-width: 600px) {
	.alert {
		width: calc(100% - 40px);
	}
}
@media only screen and (max-width: 768px) {
    .link-wrapper {
        display: none;
    }
    .link-wrapper a.current {
        border-bottom: 0;
    }
	.menu .menu-toggle {
		display: block;
    }
    .menu.responsive {
        height: 350px;
	}
    .menu.responsive .link-wrapper {
        float: none;
        display: block;
    }
	.menu.responsive a, .brand {
		float: none;
    }
}