body {
	margin: 0;
	padding: 0;
	font-family: "Google Sans";
}
.warn-img {
	margin-top: -5px;
}
.alert {
	position: fixed;
	padding: 20px 30px;
	top: 20px;
	left: 5%;
	color: #000000;
	box-shadow: 2px 2px 10px grey;
	background-color: #ffffff;
	transform: translateY(-100px);
	transition: all 300ms ease;
	z-index: 9999;
}
.panel {
	margin: auto;
	margin-top: 10vh;
	width: 450px;
	background-image: url("../images/wave1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 5px 5px 30px #8a8a8a;
	padding: 0 50px 50px 50px;
	animation: fade 500ms linear;
}
.hidden {
	display: none;
}
@keyframes fade {
	0% {
		opacity: 0.2;
		transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    80% {
        transform: translateY(0);
    }
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 600px) {
	.panel {
		width: 100%;
		border-radius: none;
		box-shadow: none;
	}
}
input {
	margin-top: 40px;
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	border-bottom: 2px #007bff solid !important;
}
.label {
	display: block;
	position: absolute;
	color: grey;
	transform: translate(10px, -58px);
	transition: all 200ms ease;
	cursor: text;
}
input:focus + .label {
	transform: translate(10px, -85px);
}
input:not(:placeholder-shown) + .label {
	transform: translate(10px, -85px);
}
.modal {
	overflow-y: auto;
}
.form-group {
	margin: auto;
}
.form-control {
	height: 50px;
}
a:hover {
	text-decoration: none;
}
