/* Login/Signup panel */
.panel {
	margin: 10vh auto;
	width: 450px;
	background-image: url('../img/waves.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 5px 5px 30px #8a8a8a;
	padding: 0 50px 50px 50px;
	animation: fade 500ms linear;
}
.hidden {
	display: none;
}
@keyframes fade {
	0% {
		opacity: 0.2;
		transform: translateY(-15px);
	}
	30% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		opacity: 1;
	}
}
/* Responsive */
@media only screen and (max-width: 600px) {
	.panel {
		width: 100%;
		margin: auto;
		border-radius: 0;
		box-shadow: none;
	}
}
